apiVersion: v1
kind: Service
metadata:
  name: kvmm
  namespace: default
  labels:
    app: kvmm
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: kvmm
