apiVersion: v1
kind: ConfigMap
metadata:
  name: home-assistant-values
  namespace: home-assistant
data:
  values.yaml: |
    persistence:
      enabled: true
    service:
      type: ClusterIP
    configuration:
      enabled: true
      forceInit: true
      trusted_proxies:
        - 10.244.0.0/16
        - 10.96.0.0/12
        - 100.64.0.0/10
