apiVersion: v1
kind: ConfigMap
metadata:
  name: home-assistant-values
  namespace: home-assistant
data:
  values.yaml: |
    persistence:
      enabled: true
    service:
      type: ClusterIP
    configuration:
      http:
        use_x_forwarded_for: true
        trusted_proxies:
          - 10.244.0.0/16
          - 10.96.0.0/12
