apiVersion: v1
kind: Service
metadata:
  name: vllm
  namespace: vllm-system
spec:
  type: LoadBalancer
  selector:
    app: vllm
  ports:
  - name: http
    port: 8000
    targetPort: http
    protocol: TCP
